:root{
    --bs-primary-rgb: 111, 66, 194;
    --bs-body-font-family: "Comic Neue", cursive;

}

h1,h2{
    font-family: "Bangers", system-ui !important;
    font-weight: 400;
    font-style: normal;
}


#img-header{
    filter: drop-shadow(0 0 0.75rem rgb(45, 51, 61));
    height: 300px;
    width: auto;
    
}

/* #renderPoderes{
    object-fit: cover;
} */

/* #input-container{
    max-width: 300px;
    display: block;
    margin: 0 auto;
}  */

.renderDiv img{
    object-fit: cover;
}

